@model CustomerCRUD.Models.Customer

<div class="mb-3">
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" class="form-control" placeholder="Enter first name" />
    <span asp-validation-for="FirstName" class="text-danger small"></span>
</div>

<div class="mb-3">
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" class="form-control" placeholder="Enter last name" />
    <span asp-validation-for="LastName" class="text-danger small"></span>
</div>
